#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #zero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #operators {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #myLog {
    display: grid;
    border: solid; 
  }
  